<!-- EJS Footer template: templates/include/footer.ejs -->
<footer class="footer">
    <div class="footer__top">
        <h4>Dorpsbelangen Bergen</h4>
        <ul class="footer__top-nav">
            <li>
                <a href="https://dorpsbelangenbergen.nl/">Home</a>
            </li>
            <li>
                <a href="https://dorpsbelangenbergen.nl/uw-partij">Uw partij</a>
            </li>
            <li>
                <a href="https://dorpsbelangenbergen.nl/word-lid">Word lid</a>
            </li>
            <li>
                <a href="https://dorpsbelangenbergen.nl/contact">Contact</a>
            </li>
        </ul>
    </div>
    <div class="footer__bottom">
        <p class="footer__bottom-copyright">Copyright Dorpsbelangen Bergen <%= new Date().getFullYear() %> all rights reserved</p>
        <p class="footer__bottom-notice">
            <small>Sent using <a target="_blank" href="https://github.com/skywa04885/fsmtp-v2" rel="alternate">FSMTP-V2</a> by 
            <a target="_blank" href="https://software.fannst.nl" rel="alternate">Fannst Software</a></small>
        </p>
    </div>
</footer>