<!-- EJS Header template: templates/include/header.ejs -->
<header class="header">
    <a class="header__target" target="_blank" rel="alternate" href="https://dorpsbelangenbergen.nl/">
        <img class="header__target-img" src="http://167.86.99.210/static/images/logo-klein.png" />
    </a>
    <h1 class="header__title"><%= title %></h1>
</header>