.error {
  display: flex;

  & > .error-message {
    flex-grow: 0;
    padding: 1rem;
    text-align: center;

    & > h3 {
      font-size: 4rem;
      color: #006b92;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    & > h4 {
      font-style: 1.2rem;
      color: #929292;
      font-family: 'Roboto', sans-serif;
      font-weight: normal;
      max-width: 130px;
      line-height: 1.2rem;
      margin: auto;
    }
  }
  
  & > .error-table {
    flex-grow: 1;
    padding: 1rem;
    text-align: left;

    & > caption {
      text-align: left;
      font-family: 'Roboto', sans-serif;
      font-size: 1.2rem;
      color: #006b92;
      font-weight: bold;
      margin-bottom: 1rem;
      margin: 0.4rem 0.6rem;
    }

    & > tbody {
      & > tr {
        & > th, & > td {
          padding: 0.4rem 0.6rem;
        }

        & > th {
          font-weight: bold;
          font-style: 0.9rem;
          color: #333;
        }

        & > td {
          color: #929292;
          font-style: 0.9rem;
          font-weight: normal;
        }
      }
    }
  }
}