.nieuws-media-item {
  & > .nieuws-media-item__banner {
    height: 28rem;
    background-position: center;
    background-size: cover;
    border-radius: 0.2rem;
    margin-bottom: 0.4rem;
  }

  & > .nieuws-media-item__content {
    margin-top: 2rem;
    color: #6d6d6d;
    font-size: 1rem;
    display: block;
    margin-bottom: 0.6rem;
    font-family: 'Roboto', sans-serif;

    & > h1 {
      font-weight: bold;
      font-size: 2rem;
      color: #222;
      margin-bottom: 1rem;
    }

    & > p {
      line-height: 1.4rem;
      margin-bottom: .5rem;
      margin-top: .5rem;
    }

    & > strong, & > p > strong {
      font-weight: bold;
    }

    & > ol {
      counter-reset: section;

      & > li::before {
        content: counter(section);
        counter-increment: section;
        margin-right: .5rem;
        color: #222;
        font-weight: bold;
        font-size: .9rem;
      }

      & > li {
        padding-left: 1rem;

        &:not(:last-child)
        {
          margin-bottom: .5rem;
        }
      }
    }
  }

  & > .nieuws-media-item__title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.4rem;
  }

  &  > .nieuws-media-item__desc {
    margin-bottom: 0.8rem;

    & > li {
      display: inline-block;
      vertical-align: middle;

      &:not(:first-child) {
        margin-left: 0.4rem;
      }

      & > svg {
        width: 1.2rem;
        height: 1.2rem;
        fill: #b8b8b8;
        display: inline-block;
        vertical-align: middle;
      }

      & > span {
        color: #b8b8b8;
        display: inline-block;
        vertical-align: middle;
        font-style: 1rem;
      }
    }
  }
}