<!DOCTYPE html>
<html lang="<%= meta.lang %>">
<head>
  <%- include ('includes/head.include.ejs') %>
</head>
<body>
  <div class="wrapper">
    <%- include ('includes/header.include.ejs') %>
    <div class="wrapper-main">
      <p class="wrapper-main__text">
        Welkom op de website van Dorpsbelangen Bergen Limburg, dé no-nonsense partij voor een sterke, 
        zorgzame en groene gemeente Bergen met een schoon, bruisend en veilig leefmilieu.
      </p>
      <p class="wrapper-main__text">
        Deze website is nog onder constrcutie ...
      </p>
      <a class="a-clear btn btn-dark" href="/word-lid">Word lid</a>
      <hr />
      <h3>Laatste nieuws</h3>
    </div>
    <%- include ('includes/footer.include.ejs') %>
  </div>
</body>
</html>