<!DOCTYPE html>
<html lang="<%= meta.lang %>">
<head>
  <%- include ('../includes/head.include.ejs') %>
</head>
<body>
  <div class="wrapper">
    <%- include ('../includes/header.include.ejs') %>
    <div class="wrapper-main">
      <p class="wrapper-main__text">
        <strong>Waarom Dorpsbelangen?</strong>
        We missen een positief kritisch geluid in onze gemeente dat staat voor onze mensen en leeft voor onze toekomst, 
        zonder daarbij onze maatschappelijke positie en realiteitsgehalte uit het oog te verliezen. 
        Steeds vaker merken we dat de MENS wordt vergeten en dat er andere belangen een hoofdrol spelen. 
        Dat gaat wat ons betreft vaak ten koste van onze burgers, onze leefomgeving en onze toekomst. 
        Dorpsbelangen wil gezamenlijk met onze inwoners de “Dorpse Belangen” voorop stellen en hopen dat op 
        democratische wijze te bewerken en volop aandacht te geven aan de mens in zijn 
        omgeving. We hopen dan ook samen te komen tot een werkbare verhouding en de 
        burgers de aandacht te geven die ze verdienen waarbij inspraak, aanspraak en 
        uitwerking gezamenlijk verlopen. Communicatie is wat ons betreft niet 1-dimensionaal 
        en samenwerken bestaat niet uit eenzijdige mededelingen en het “U mag tekenen bij 
        het kruisje” gehalte. Die brug zouden wij graag gezamenlijk willen slaan tussen 
        bevolking, politiek en ambtelijke organisatie.
      </p>
      <p class="wrapper-main__text">
        <strong>De missie en visie van Dorpsbelangen</strong> blijven leidend als meetlat voor de toekomstige besluiten. 
        Daarbij wordt het <strong>verkiezingsprogramma</strong> een blijvend uitgangspunt voor onze wensen waarbij wij open blijven staan voor nieuwe ontwikkelingen. 
        Met enthousiaste en betrokken mensen in ons <strong>team</strong> blijven wij opkomen voor de lokale belangen in de gehele gemeente Bergen.
      </p>
    </div>
    <%- include ('../includes/footer.include.ejs') %>
  </div>
</body>
</html>