<!DOCTYPE html>
<html lang="<%= meta.lang %>">
<head>
  <%- include ('../includes/head.include.ejs') %>
</head>
<body>
  <div class="wrapper">
    <%- include ('../includes/header.include.ejs') %>
    <div class="wrapper-main">
    </div>
    <%- include ('../includes/footer.include.ejs') %>
  </div>
</body>
</html>